
<div class="container help">
  <header>
    <h3 align="center">Help</h3>
  </header>
  
  <br />
  <br />

  <ul class="list-group col-md-8 col-md-offset-2">
    <li class="list-group-item"> 
      All the functionality of this web application revolves around the
      concept of a shopping <strong>Item</strong>. 
    </li> 
    
    <li class="list-group-item"> 
      The only requirement for an <em>item</em> is its name. It can optionally
      belong to a single <strong>category</strong>. It can also have a
      list of <strong>stores</strong> that are usually the places
      where it is purchased.  
    </li> 
    
    <li class="list-group-item"> 
      You need to first add items to the database before carrying out
      any other operation. This is done in by using <em>New item</em>
      link in the navigation bar. Once an item is created, it can be
      added to the shopping list or removed from such list
      in <em>Items</em> page.  
    </li>
    
    <li class="list-group-item"> 
      Items added to the shopping list show up in <em>List</em>
      page. This is the page you would use when you are actually in a
      store. Items can be removed from the list either individually or
      as a group (by selecting such items and clicking on the
      button <em>Clear selected items</em>).  
    </li>

    <li class="list-group-item"> 
      For source code and other details about the app, please visit 
      "github" link. 
    </li>
    
</div>

